
html, body {
    margin:0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

#navbar{
    width: 100%;
    height: auto;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div>p{
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0px;
}

div>p>a{
    color: white;
    width: max-content;
    font-size: 30px;
    padding: 25px 30px;
    
}

div>p>a:hover{
    background-color: grey;
}

a{
    text-decoration: none;
}

#welcome-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0%;
    height: 100vh;
    background-color: darkslategray;
    color: white;
}

#welcome-section>h1{
    font-size: 64px;
    margin: 0px;
}

#welcome-section>h3{
    font-size: 32px;
    margin: 0px;
    color: chocolate;
}

#projects{
    background-color: grey;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "header header header"
    "1 2 3"
    "4 5 6";
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3,400px);
}

#projects>h1{
    color: white;
    font-size: 3rem;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    grid-area: header;
}

img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
}

#project-title{
    width: 400px;
    height: 400px;
}

@media screen and (max-width = 749px) {
    
}